/* Desktop first  */
/* xây dựng ở màn hình lớn trước, sau đó canh chỉnh để phù hợp ở màn hình nhỏ hơn */
/* type: screen, print, speech, all */
/* @media screen and (max-width:...){
    
} */
h1{
    background-color: red;
}
@media screen and (max-width: 1200px){
    /* vufnh ảnh hưởng nhỏ hơn 1200px */
    h1{
        background-color: purple;
    }
}
@media screen and (max-width: 992px){
    /* vufnh ảnh hưởng nhỏ hơn 1200px */
    h1{
        background-color: pink;
    }
}
/* mobile first  */
/* màn hình nhỏ trước, màn hình lớn sau  */
h2{
    background-color: aqua;
}
@media screen and (min-width: 768px){
    /* vùng ảnh hưởng lớn hơn 768px  */
    h2{
        background-color: orange;
    }
}
@media screen and (min-width: 1200px){
    /* vùng ảnh hưởng lớn hơn 1200px  */
    h2{
        background-color: yellow;
    }
}

@media screen and (min-width: 900px) and (max-width:1000px){
    h2{
        background-color: purple;
    }
}

